:host {
  display: block;
}

.dice {
  width: 68px;
  height: 68px;
  border: 5px solid #212121;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2px;
  padding: 2px;
}
.dice .pip {
  background-color: #212121;
  width: 19px;
  height: 19px;
  border-radius: 10px;
}
.dice.locked {
  border-color: #0097a7;
}
.dice.locked .pip {
  background-color: #0097a7;
}
.dice:hover {
  cursor: pointer;
}
.dice:not(.locked):hover {
  border-color: #757575;
}
.dice:not(.locked):hover .pip {
  background-color: #757575;
}
.dice.locked:hover {
  border-color: #00bcd4;
}
.dice.locked:hover .pip {
  background-color: #00bcd4;
}

.dice .pip:nth-child(1) {
  grid-area: a;
}
.dice .pip:nth-child(2) {
  grid-area: b;
}
.dice .pip:nth-child(3) {
  grid-area: c;
}
.dice .pip:nth-child(4) {
  grid-area: d;
}
.dice .pip:nth-child(5) {
  grid-area: e;
}
.dice .pip:nth-child(6) {
  grid-area: f;
}
.dice[alt='1'] {
  grid-template-areas:
    '. . .'
    '. a .'
    '. . .';
}
.dice[alt='2'] {
  grid-template-areas:
    '. . a'
    '. . .'
    'b . .';
}
.dice[alt='3'] {
  grid-template-areas:
    '. . a'
    '. b .'
    'c . .';
}
.dice[alt='4'] {
  grid-template-areas:
    'a . b'
    '. . .'
    'c . d';
}
.dice[alt='5'] {
  grid-template-areas:
    'a . b'
    '. c .'
    'd . e';
}
.dice[alt='6'] {
  grid-template-areas:
    'a . b'
    'c . d'
    'e . f';
}
